<div id="<%= dom_id products_customer %>">
  <p>
    <strong>Product:</strong>
    <%= products_customer.product_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= products_customer.customer_id %>
  </p>

</div>
