<h1>Editing products customer</h1>

<%= render "form", products_customer: @products_customer %>

<br>

<div>
  <%= link_to "Show this products customer", @products_customer %> |
  <%= link_to "Back to products customers", products_customers_path %>
</div>
